@font-face {
    font-family: 'Awesawez';
    src: 
        url('./Awesawez.otf') format('opentype');
    font-weight: normal; 
    font-style: normal;
}


.hello {
    font-family: 'Awesawez';
    color: red;
}